<div class="container">
  <app-header></app-header>
  <hr/>
  <router-outlet></router-outlet>
  <hr/>
  <!-- <app-messages></app-messages> -->
  <!-- <app-formDrivenAtivExercicio></app-formDrivenAtivExercicio> -->
</div>
<br/>
<emp-app *ngFor="let empregado of empregadoS" [emp]="empregado"></emp-app>
<br/>
<input type="text" [(ngModel)]="objEmpregado.name">
<input type="text" [(ngModel)]="objEmpregado.age">
<button 
  type="submit" 
  class="btn btn-primary"
  (click)="onEmpregadoServiceSave()"
>
  Adiciona Empregado - Service
</button>